<div id="mainbar">
  <div>
    <div>
      <p style="font-size: 27px; font-weight: 500;"> Search Results </p>
    </div>
    <div class="button-group_container button-group_borderBottom"><button type="button" class="button_button button-group_active">Votes</button><button type="button" class="button_button">Views</button><button type="button" class="button_button">Newest</button><button type="button" class="button_button">Oldest</button></div>
    <div class="summary-container">
      <div class="statscontainer">
        <div class="votecontainer">
          <span style="font-size: 1.3rem;"> test </span>
          <br>votes
        </div>
        <div class="answercountcontainer">
          <span style="font-size: 1.3rem; line-height: 1;">test</span> answers
        </div>
      </div>
      <div class="child2-container">
        <div class="question"> Q: </div>
        <div class="body"></div>
        <div class="tags_user">
          <div class="tags">
            <div class="tag">test</div>
          </div>
          <div class="owner">asked <span title="2013-03-03 04:38:06Z"
                  class="relativetime">test</span> by <a href="https://stackoverflow.com/users/"
               target="_blank" rel="noopener noreferrer">name</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [showJumpToPageDropdown] = "true"
     -->
  <!--     <p-paginator currentPageReportTemplate  [alwaysShow]="false" [rows]="15" [totalRecords]="totalRecords" [pageLinkSize]="5" [showCurrentPageReport] = "true" 
     currentPageReportTemplate="{{pageInfo}} " (onPageChange)="paginate($event)" ></p-paginator> -->
</div>