

#mainbar,
.mainbar {
  max-width: 728px;
  padding: 0;
}
.summary-container {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  overflow: hidden;
  border-bottom: 1px solid hsl(210, 8%, 90%);
}

.child2-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tags_user {
  display: flex;
  justify-content: space-between;
}
.question {
  color: hsl(206deg 100% 40%);
  font-size: 1.30769231rem;
}
.statscontainer {
  margin-right: 16px;
  width: 58px;
  margin-left: 8px;
  color: hsl(210, 8%, 45%);
  font-size: 11px;
}

.votecontainer {
  padding: 0;
  margin-bottom: 8px;
  text-align: center;
}
.answercountcontainer {
  padding: 7px 0 5px;
  text-align: center;
  background-color: hsl(140deg 40% 55%);
  color: #fff;
  border-radius: 3px;
}
.owner {
  color: hsl(210, 8%, 45%);
  font-size: 12px;
  margin-top: 4px;
  margin-right: 16px;
}
.owner a {
  color: hsl(206deg 100% 40%);
  text-decoration: none;
  cursor: pointer;
}

.body {
  display: inline;
}
.tags {
  display: flex;
  max-height: 28px;
}

.tag {
  color: hsl(205deg 47% 42%);
  background-color: hsl(205deg 46% 92%);
  display: inline-block;
  padding: 0.4em 0.5em;
  margin: 2px 2px 2px 0;
  font-size: 11px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  border-color: transparent;
}

@media screen and (max-width: 768px) {
  .tags_user {
    flex-direction: column;
  }
  .statscontainer{
    display: none;
  }
}



.button-group_borderBottom {
  padding-bottom: 12px;
  border-bottom: 1px solid #d6d9dc;
  margin-right: 5px;
}
.button-group_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.button-group_borderBottom {
  padding-bottom: 12px;
  border-bottom: 1px solid #d6d9dc;
  margin-right: 5px;
}
.button-group_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.button-group_active, .button-group_active:hover {
  background-color: #e4e6e8!important;
}
.button-group_active {
  color: #3c4146!important;
}
.button-group_container button:not(:last-child) {
  margin-right: -1px;
}
.button-group_container button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button-group_container button:not(:last-child) {
  margin-right: -1px;
}
.button-group_container button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button-group_container button {
  color: #6a737c;
  border: 1px solid #6a737c;
  border-radius: 3px;
  padding: 0.8em;
}
.button_button {
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
  text-decoration: none;
  cursor: pointer;
  color: #848d95;
  transition: 120ms;
}
.button-group_container button:not(:last-child):not(:first-child) {
  border-radius: 0;
}
.button-group_container button:not(:last-child):not(:first-child) {
  border-radius: 0;
}
.button-group_container button:not(:last-child) {
  margin-right: -1px;
}
.button-group_container button:not(:last-child) {
  margin-right: -1px;
}
.button-group_container button {
  color: #6a737c;
  border: 1px solid #6a737c;
  border-radius: 3px;
  padding: 0.8em;
}
.button-group_container button {
  color: #6a737c;
  border: 1px solid #6a737c;
  border-radius: 3px;
  padding: 0.8em;
}
.button_button {
  background-color: transparent;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
  text-decoration: none;
  cursor: pointer;
  color: #848d95;
  transition: 200ms;
}