.layout-sidebar {  
  background-color: #fff;
  width: 164px;
  flex-shrink: 0;
  box-shadow: 0 0 0 hsla(210,8%,5%,0.05);
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
  transform: translateZ(0);
  z-index: 1000;
  position: relative !important;
  flex: 1 0 auto;
  text-align: left;
  height: 100%;

  & .layout-sidebar-container{
    position: sticky;
  left: 0;
  top: 0;
  }

  & .layout-menu {
    overflow-y: auto;
    flex-grow: 1;
    padding-top: 0;
    margin-bottom: 12px;
    list-style: none;
  }

  & .menu-category {
    color: #6c757d;
    font-weight: 500;
    margin: 16px 0 4px 8px;
    font-size: 11px;
    text-transform: uppercase;
  }
  & .menu {
    color: #525960;
    display: flex;
    padding: 8px 8px 8px 30px;
    align-items: center;
    line-height: 17px;
    font-size: 13px;
    cursor: pointer;
  }
  & a:hover,
  a:hover .svg-icon {
    font-weight: bold;
    background: #f1f2f3;
    color: hsl(210, 8%, 5%);
  }

  & a:hover {
    border-right: 3px solid #f48225;
  }
}

.pl-8 {
  padding-left: 8px !important;
}
.svg-icon {
  flex-shrink: 0;
  margin-top: -1px;
  margin-right: 4px;
  color: hsl(210, 8%, 55%);
  vertical-align: bottom;
}

.svg-icon:not(.native) * {
  fill: currentColor;
}

.home-button {
  line-height: 2;
  font-size: 13px;
}

.truncate {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
.activeTab,
.activeTab svg {
  font-weight: bold;
  background: #f1f2f3;
  color: hsl(210, 8%, 5%) !important;
}
.activeTab {
  border-right: 3px solid #f48225;
}

@media screen and (max-width: 960px) {
  .layout-sidebar {
    transform: translate(-100%);
    z-index: 999;
    width: 0;
  }
}
