<div class="list">
  <div class="filter-type-container">
    <div class="flex--item">
      <div class="mb12">
        <span class="ff-mono fc-dark">[tag]</span>
        <span class="fc-black-500">search within a tag</span>
      </div>
      <div class="mb12">
        <span class="ff-mono fc-dark">user:1234</span>
        <span class="fc-black-500">search by author</span>
      </div>
      <div class="mb12">
        <span class="ff-mono fc-dark">"words here"</span>
        <span class="fc-black-500">exact phrase</span>
      </div>
      <div class="sm:mb12">
        <span class="ff-mono fc-dark">collective:"Name"</span>
        <span class="fc-black-500">collective content</span>
      </div>
    </div>
    <div class="flex--item">
      <div class="mb12">
        <span class="ff-mono fc-dark">answers:0</span>
        <span class="fc-black-500">unanswered questions</span>
      </div>
      <div class="mb12">
        <span class="ff-mono fc-dark">score:3</span>
        <span class="fc-black-500">posts with a 3+ score</span>
      </div>
      <div class="mb12">
        <span class="ff-mono fc-dark">is:question</span>
        <span class="fc-black-500">type of post</span>
      </div>
      <div class="">
        <span class="ff-mono fc-dark">isaccepted:yes</span>
        <span class="fc-black-500">search within status</span>
      </div>
    </div>
  </div>
</div>
