<pagination-controls
  previousLabel="Prev"
  nextLabel="Next"
  [responsive]="true"
  (pageChange)="this.rootStateService.pageNumber = ($event)"
>
</pagination-controls>
<div id="mainbar">
  <app-spinner></app-spinner>
  <div class="results-container">
    <ng-container
      *ngFor="let item of (response$ | async)?.items!
        | paginate: {
                itemsPerPage: itemsInPage,
                currentPage: (response$ | async)?.page,
                totalItems: (response$ | async)?.total }">
      <app-question [props]="item"></app-question>
    </ng-container>
  </div>
</div>
